# `{{NAME}}`

> {{DOC}}

| Field | Value |
|---|---|
| **Layers** | {{LAYERS}} |
| **Signature** | `{{SIGNATURE}}` |
{{ALPHA_NOTE}}

## Example

```bash
bgbgone red-panda.jpg --bg "image:red-panda.jpg" --filter "{{EXAMPLE_CHAIN}}"
```

![`{{EXAMPLE_CHAIN}}` on red-panda](../images/filters/{{NAME}}.jpg)

## Per-layer panels

{{LAYER_INVOCATIONS}}

![`{{NAME}}` panels on yoga](../images/filters/panels/yoga-{{NAME}}.jpg)
![`{{NAME}}` panels on woman-singer](../images/filters/panels/woman-singer-{{NAME}}.jpg)

See the [filter index](README.md) for the full catalogue.
